/#sm2-container{ :style => 'height: 1px !important;'}
 
#center

  
  #header
    #my-menus


  / .bit._1-00
  /   .content 
  /     %span box 1.2.3
  /     %svg{ :width => "100px", :height => "100px", "xmlns:svg" => "http://www.w3.org/2000/svg", :xmlns => "http://www.w3.org/2000/svg" }
  /       %polygon{ :x => '50', :y => '50', :width => '22', :fill => "blue", :stroke => "gray", :"stroke-width" => "2"}
  /     %p.ui-widget-header 

  .bit._1
    .content 
      hello world!
      %p.ui-widget-header 


  .bit._1-5
    .content 
      this is Parallels
      %p.ui-widget-header   

  .bit._1-6
    .content 
      a world to help you design, connect and share the evolution of your ideas.
      %p.ui-widget-header   



  .bit._2
    .content 
      i'm a bit of 
      %strong text
      %p.ui-widget-header 


  .bit._3
    .content 
      i can be 
      of any size,

      small as one letter, like a 
      %p.ui-widget-header 



  .bit._4
    .content
      Y
      %p.ui-widget-header 



  .bit._5-0
    .content 
      or as big as a 
      %p.ui-widget-header 

  .bit._5
    .content 
      word
      %p.ui-widget-header 

  .bit._6
    .content 
      i can be a phrase, 
      %p.ui-widget-header 

  .bit._7
    .content 
      a paragraph (of which I'll spare you)
      %p.ui-widget-header 


  .bit._7-2
    .content 
      a page
      %p.ui-widget-header 


  .bit._7-25
    .content 
      or even an entire book
      %p.ui-widget-header 


  .bit._7-3
    .content 
      the point is, there are no rules 
      %p.ui-widget-header 


  .bit._7-4
    .content 
      i can be of any size, defined only by how you use me
      %p.ui-widget-header 




  .bit._8
    .content 
      i can also be a
      %p.ui-widget-header 

  .bit._9
    .content.image
      %a{ :href => "/images/fish.jpg", :rel => "zoom-width:400px;zoom-height:400px;", :class => "MagicZoom" }
        = image_tag "/images/fish_small.jpg", :height => 140
      %p.ui-widget-header 

  .bit._10
    .content 
      No.. no.. not a fish
      %p.ui-widget-header 

  .bit._10
    .content 
      i mean i can be an 
      %strong image
      %p.ui-widget-header 




  .bit._11
    .content
      i can also be other things, like 
      a 
      %strong sound,
      %p.ui-widget-header 

  .bit._12-1
    .content
      .ui360
        = link_to 'play', '#', :id => 'play_opening', :class => 'sm2_link'
      %p.ui-widget-header 




  .bit._13
    .content
      or a 
      %strong video
    
      %p.ui-widget-header 

  .bit._13-1
    .content.image
      %iframe{ :height => "220", :width => '370', :src => "http://player.vimeo.com/video/7469697?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true",  }
    
      %p.ui-widget-header 


  .bit._20
    .content 
      you can 
      %p.ui-widget-header 


  .bit._21
    .content 
      drag me
      %p.ui-widget-header 



  / .bit._23.flip
  /   .card
  /     .face.front flip me
  /     .face.back.image
  /       = image_tag "/images/6795772928.gif", :height => 180
  /     %p.ui-widget-header 

      
  .bit._24
    .content 
      cut me
      %p.ui-widget-header 

  .bit._25
    .content.before 
      into pieces
      %p.ui-widget-header 

  .bit._28
    .content
      glue me into bigger
      %p.ui-widget-header 


  .bit._29
    .content
      ones
      %p.ui-widget-header 


  .bit._25-1
    .content 
      crop me
      %p.ui-widget-header 



  

  .bit._26
    .content.image
      = image_tag "/images/zelda.png", :width => 500, :id => 'zelda_large'
      %p.ui-widget-header 


  .bit._26-1
    .content.image
      = image_tag "/images/zelda_small.png", :id => 'zelda_cropped'
      %p.ui-widget-header 





  .bit._32
    .content 
      you can even shatter me into a million pieces.
    %p.ui-widget-header 
  
  .bit._32-1
    .content 
      What would be the equivalent of this:
      %p.ui-widget-header 

  .bit._32-1
    .content.image
      %iframe{ :width => "300", :height => "169", :src => "http://www.youtube.com/embed/FIPu9_OGFgc?rel=0&start=14", :frameborder => "0", :allowfullscreen => "true"  }
      %p.ui-widget-header 


  .bit._32-2
    .content 
      but for a bit of text
      %p.ui-widget-header 


  .sliced_text
    .bit._32-2-1
      .content 
        but
        %p.ui-widget-header 
    .bit._32-2-2
      .content 
        for
        %p.ui-widget-header 
    .bit._32-2-3
      .content 
        a
        %p.ui-widget-header    
    .bit._32-2-4
      .content 
        bit
        %p.ui-widget-header 
    .bit._32-2-5
      .content 
        of
        %p.ui-widget-header 
    .bit._32-2-6
      .content 
        text
        %p.ui-widget-header  




  .bit._32-3
    .content 
      and for an image?
      %p.ui-widget-header 

  .bit._32-4
    .content.image
      = image_tag '/images/mark_webster_umberto_ode.png'
      %p.ui-widget-header 


  .umberto
    .row
      .bit._1001
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_01.jpg'
          %p.ui-widget-header 

      .bit._1002
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_02.jpg'
          %p.ui-widget-header 

      .bit._1003
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_03.jpg'
          %p.ui-widget-header 

      .bit._1004
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_04.jpg'
          %p.ui-widget-header 

      .bit._1005
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_05.jpg'
          %p.ui-widget-header

      .bit._1006
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_06.jpg'
          %p.ui-widget-header 

    .row
      .bit._1007
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_07.jpg'
          %p.ui-widget-header 

      .bit._1008
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_08.jpg'
          %p.ui-widget-header 

      .bit._1009
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_09.jpg'
          %p.ui-widget-header 

      .bit._1010
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_10.jpg'
          %p.ui-widget-header 

      .bit._1011
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_11.jpg'
          %p.ui-widget-header
           
      .bit._1012
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_12.jpg'
          %p.ui-widget-header 

    .row
      .bit._1013
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_13.jpg'
          %p.ui-widget-header 

      .bit._1014
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_14.jpg'
          %p.ui-widget-header 

      .bit._1015
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_15.jpg'
          %p.ui-widget-header 

      .bit._1016
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_16.jpg'
          %p.ui-widget-header 

      .bit._1017
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_17.jpg'
          %p.ui-widget-header
           
      .bit._1018
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_18.jpg'
          %p.ui-widget-header 


    .row
      .bit._1019
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_19.jpg'
          %p.ui-widget-header 

      .bit._1020
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_20-1.jpg'
          %p.ui-widget-header 

      .bit._1021
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_22.jpg'
          %p.ui-widget-header 

      .bit._1022
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_20.jpg'
          %p.ui-widget-header 

      .bit._1023
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_24-1.jpg'
          %p.ui-widget-header
           
      .bit._1024
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_24.jpg'
          %p.ui-widget-header 



    .row
      .bit._1025
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_25.jpg'
          %p.ui-widget-header 

      .bit._1026
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_26.jpg'
          %p.ui-widget-header 

      .bit._1027
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_27.jpg'
          %p.ui-widget-header 

      .bit._1028
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_28.jpg'
          %p.ui-widget-header 

      .bit._1029
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_29.jpg'
          %p.ui-widget-header
           
      .bit._1030
        .content.image
          = image_tag '/images/umberto_parts/mark_webster_umberto_ode_30.jpg'
          %p.ui-widget-header 





  .bit._14-4
    .content 
      You can also group me with your other bits, to make 
      %strong clusters
      %p.ui-widget-header 

  .bit._33-0
    .content
      here's a re-enactment of one of artist Christian Marclay's
      = link_to 'CD cover collages', 'https://www.google.com/search?q=christian+marclay+collage&hl=en&authuser=0&tbm=isch&tbo=u&source=univ&sa=X&ei=IfAzUbm3M-jC0AGK9oDoBQ&ved=0CDMQsAQ&biw=1476&bih=761'
      %p.ui-widget-header 



  .mj


    .bit._33-1
      .content.image
        = image_tag '/images/michael_jackson_thriller.jpg', :width => 200
        %p.ui-widget-header 


    .bit._34
      .content.image
        = image_tag '/images/sidney_barnes_michael_jackson.jpg', :width => 220
        %p.ui-widget-header 


    .bit._35
      .content.image
        = image_tag '/images/roxy_music.jpg', :width => 230
        %p.ui-widget-header 







  .bit._16
    .content
      it's just like digital
      %p.ui-widget-header 

  .bit._17
    .content.image
      = image_tag '/images/lego.png'
      %p.ui-widget-header 






 


  .bit._80
    .content 
      now say you were part of a team
      %p.ui-widget-header 


  .bit._81-1
    .content 
      
      of artists, designers, engineers and scientists 
      collaborating on a complex project.
      %p.ui-widget-header 



  .weightless_topic

    .bit._56
      .content.image
        = image_tag '/images/weightless/arn.jpg', :width => 100
        %p.ui-widget-header 


    .bit._73
      .content.image
        = image_tag '/images/weightless/theplayer.jpg', :width => 100
        %p.ui-widget-header 


    .bit._57
      .content.image
        %iframe{ :width => "150", :height => "90", :src => "http://www.youtube.com/embed/CulOp0uaYic", :frameborder => "0", :allowfullscreen => "true"  }
        %p.ui-widget-header 


    .bit._55
      .content.image
        = image_tag '/images/weightless/Allegretto.jpeg', :width => 100
        %p.ui-widget-header 


    .bit._57-1
      .content.image
        %iframe{ :width => "200", :src => "http://www.youtube.com/embed/GF0-wGbRqEs", :frameborder => "0", :allowfullscreen => "true"  }
        %p.ui-widget-header 


    .bit._13-11
      .content.image
        %iframe{ :width => "160", :height => "95", :src => "http://player.vimeo.com/video/7469697?byline=0&amp;portrait=0&amp;color=ffffff&amp;loop=1", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true", :allowFullScreen => "true" }

        %p.ui-widget-header 


    .bit._68
      .content.image
        %iframe{ :width => "160", :height => "95", :src => "http://player.vimeo.com/video/6284199?byline=0&amp;portrait=0&amp;color=ffffff&amp;loop=1", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true", :allowFullScreen => "true" }
        %p.ui-widget-header 

    .bit._68-1
      .content.image
        = image_tag '/images/weightless/boccioni.png'
        %p.ui-widget-header 

    .bit._60
      .content.image
        = image_tag '/images/weightless/Fetal_Position_by_Pixel_Sage.jpeg', :width => 100
        %p.ui-widget-header 

    .bit._51
      .content.image
        = image_tag '/images/weightless/095_1.jpeg', :width => 100

        %p.ui-widget-header 

    .bit._67
      .content.image
        = image_tag '/images/weightless/1.png', :width => 100
        %p.ui-widget-header 


    .bit._58
      .content.image
        = image_tag '/images/weightless/d695fcef4f9ed591889df0831538c2f51ccb0a63_m.jpg', :width => 100
        %p.ui-widget-header 

    .bit._61
      .content.image
        = image_tag '/images/weightless/fix_002b.jpeg', :width => 100
        %p.ui-widget-header 

    .bit._65
      .content.image
        = image_tag '/images/weightless/Regal_Incidence_76x58_op_769x569.jpg', :width => 100
        %p.ui-widget-header 

    .bit._63
      .content.image
        = image_tag '/images/weightless/kemurit.jpg', :width => 100
        %p.ui-widget-header 


    .bit._63-1
      .content.image
        = image_tag '/images/weightless/007.jpg', :width => 100
        %p.ui-widget-header 



    .bit._62
      .content.image
        = image_tag '/images/weightless/hood.jpg', :width => 140
        %p.ui-widget-header 


    .bit._66
      .content.image
        = image_tag '/images/weightless/rocketeer.gif', :width => 200
        %p.ui-widget-header 

    .bit._59
      .content.image
        = image_tag '/images/weightless/es-omhulsel-escher.jpg', :width => 100
        %p.ui-widget-header 



    .bit._74
      .content.image
        = image_tag '/images/weightless/waves-2.jpeg', :width => 100

        %p.ui-widget-header 




    .bit._64
      .content.image
        = image_tag '/images/weightless/randi.jpeg', :width => 130
        %p.ui-widget-header 



    .bit._54
      .content.image
        = image_tag '/images/weightless/Abstractobv.jpeg', :width => 170
        %p.ui-widget-header 


    .bit._77
      .content.image
        = image_tag '/images/weightless/Spiral_dive_with_instruction_diagram.jpeg', :width => 140
        %p.ui-widget-header 

    .bit._78
      .content.image
        = image_tag '/images/weightless/IMG_0749.jpg', :width => 140
        %p.ui-widget-header 




    .bit._71
      .content.image
        = image_tag '/images/weightless/5.png', :width => 100
        %p.ui-widget-header 

    .bit._79
      .content.image
        = image_tag '/images/weightless/IMG_0528.jpg', :width => 170
        %p.ui-widget-header 







  .bit._47
    .content 
      what if you could re-arrange your cluster
      into new configurations, or 
      %strong views
      
      %p.ui-widget-header 

  .bit._47-6
    .content 
      in the way these dots morph?  
      
      %p.ui-widget-header 



  .bit._811
    .content.image
      %iframe{ :width => "400", :height => "225", :src => "http://www.youtube.com/embed/ReB-RgRSKWM?rel=0", :frameborder => "0", :allowfullscreen => "true"  }

      %p.ui-widget-header 




  .bit._48.left
    .content 
      you could re-arrange
      %strong by color
      %p.ui-widget-header     



  .bit._48-0.left
    .content 
      by 
      %strong shape
      %p.ui-widget-header  


  .bit._48-1.left
    .content 
      by 
      %strong size
      %p.ui-widget-header  

  .bit._48-3
    .content 
      by 
      %strong origin (where you found it)
      %p.ui-widget-header  

  / .bit._48-2
  /   .content 
  /     and many other attributes you could define
  /     %p.ui-widget-header  


  / .bit._49
  /   .content 
  /     and some the best ideas and connections 
  /     = link_to 'happen by chance', 'http://portal.acs.org/portal/acs/corg/content?_nfpb=true&_pageLabel=PP_SUPERARTICLE&node_id=520&use_sec=false&sec_url_var=region1&__uuid=76958ea8-9aaf-45ec-b374-c65418686e22#P24_1424', :target => '_blank' 
  /     %p.ui-widget-header     




  .bit._49-43
    .content 
      so how about experimenting with ordering
      %strong by random?
      %p.ui-widget-header     













  .bit._36
    .content 
      As you can imagine, things can get hectic quickly.

      %p.ui-widget-header 


  .bit._36-1
    .content 
      A few things will help to manage this
      %p.ui-widget-header 

      
  .bit._36-1
    .content 
      First, you can always undo anything:
      %p.ui-widget-header 




  ._36-3
    .image
      = image_tag '/images/slider1.jpg'
      %p.ui-widget-header 





  .bit._37-32
    .content
      and play time, to see the evolution of your ideas
      %p.ui-widget-header 
    





  .bit._81-4
    .content.image
      %iframe{ :width => "400", :height => "300", :src => "http://www.youtube.com/embed/xiWpZ5jhvx4?rel=0", :frameborder => "0", :allowfullscreen => "true"  }
      %p.ui-widget-header 






  .bit._38
    .content 
      thank this guy for that idea
      %p.ui-widget-header 


  .bit._38-1
    .content.image
      = image_tag '/images/1878_Darwin_photo_by_Leonard_from_Woodall_1884.jpg', :width => 300
      %p.ui-widget-header 


  .bit._38-6
    .content.aside
      charles darwin, in case ya didn't know
      %p.ui-widget-header 






  .bit._51
    .content 
      Things really come to life 
      %p.ui-widget-header 

  .bit._51-1
    .content 
      when you create connections or relationships
      %strong between 
      me and other bits.      
      %p.ui-widget-header 

  .bit._51-3.left
    .content 
      These are called 
      %strong parallels.
      %p.ui-widget-header 


  .bit._52
    .content 
      For example:
      %p.ui-widget-header 



  ._199.parallel
    .left


      .bit._53-2
        .content.image
          = image_tag '/images/mark_webster_umberto_ode.png', :width => 200
          %p.ui-widget-header

      .bit._53-1
        .content 
          this image of a Mark Webster painting (2010)
          %p.ui-widget-header 


    .middle
      .bit._53-3
        .content.caps 
          was 
          %strong born from
          %p.ui-widget-header 

    .right

      .bit._53-5
        .content.image
          = image_tag '/images/weightless/2029811645_a945abaacf.jpg', :width => 200
          %p.ui-widget-header

      .bit._53-4
        .content 
          Umberto Bioccioni's sculpture (1913)
          %p.ui-widget-header 










  ._200.parallel
    .left

      .bit._110-1
        .content.image
          = image_tag '/images/weightless/1.png', :width => 175
          %p.ui-widget-header

      .bit._110-2
        .content 
          this image
          %p.ui-widget-header 


    .middle
      .bit._110-3
        .content.caps
          is 
          %strong visually similar
          to
          %p.ui-widget-header 


    .right.two

      .bit._110-6
        .content.image
          = image_tag '/images/weightless/IMG_0749.jpg', :width => 200
          %p.ui-widget-header

      .bit._110-7
        .content 
          after a bit of a twist
          %p.ui-widget-header 


    .right.one

      .bit._110-4
        .content.image
          = image_tag '/images/weightless/IMG_0749.jpg', :width => 200
          %p.ui-widget-header

      .bit._110-5
        .content 
          to this one
          %p.ui-widget-header 
          


  .bit._115
    .content 
      you can create conceptual parallels too, not just visual ones
      %p.ui-widget-header 



  .bit._116
    .content 
      imagine reading a web page, clipping a bit of text, seamlessly 
      saving, connecting and annotating it
      %p.ui-widget-header 

      

  .bit._145
    .content.image
      = image_tag '/images/manning.png', :width => 450
      %p.ui-widget-header



  ._201.parallel
    .left

      .bit._111-1

        .content
          "One of the better times of the Cambridge Physical Laboratories was when they had practically shacks - they did some of the best physics ever
          %p.ui-widget-header

      .bit._111-2
        .content 
          Richard Hamming,
          = link_to 'You & Your Research', 'http://www.paulgraham.com/hamming.html', :target => '_blank'

          %p.ui-widget-header 


      .bit._111-3
        .content.image
          = image_tag '/images/hamming.jpg'

          %p.ui-widget-header 


    .middle
      .bit._111-4
        .content.caps

          is a
          %strong parallel
          to
          %p.ui-widget-header 

    .right

      .bit._111-50
        .content.image
          = image_tag '/images/duke_ellington_music_mistress.jpg', :width => 110

          %p.ui-widget-header 


      .bit._111-5
        .content
          In the early music publishing houses, there might as many as ten pianos going at once, and you had to write a lead sheet under those circumstances. If I were making a lead sheet to get an advance I couldnt afford to let all those noises interfere with the nose I was trying to put down on one sheet of paper.
          %p.ui-widget-header

      .bit._111-6
        .content
          Duke Ellington, Music is My Muse
          %p.ui-widget-header 



  / ._202.parallel
  /   .left

  /     .bit._112-1
  /       .content
  /         "Men are born ignorant, not stupid. They are made stupid by education."
  /         Bertrand Russell 

  /         %p.ui-widget-header

  /     .bit._112-2
  /       .content 
  /         this quote, regarding education
  /         %p.ui-widget-header 


  /   .middle
  /     .bit._112-3
  /       .content 
          
  /         %strong is the opposite
  /         of
  /         %p.ui-widget-header 

  /   .right

  /     .bit._112-4
  /       .content
  /         "Education is the most powerful weapon which you can use to change the world."
  /         Nelson Mandela
  /         %p.ui-widget-header

  /     .bit._112-5
  /       .content 
  /         of this one
  /         %p.ui-widget-header 



  /   .right

  /     .bit._112-6.left
  /       .content
  /         = image_tag '/images/tt0084503.jpg', :width => 150
  /         %p.ui-widget-header 


  / .bit._91
  /   .content 
  /     As opposed to files, that can only belong in one folder
  /     any bit or cluster can exist in many areas of this world.
  /     %p.ui-widget-header 






  / .bit._54
  /   .content 
  /     you'll be able 
  /     to define your own 
  /     %strong types 
  /     of parallels too
      
  /     %p.ui-widget-header 





  / .bit._130
  /   .content 
  /     You can also search visually
  /     %p.ui-widget-header 


  / .bit._131.left
  /   .content
  /     = image_tag '/images/search_11.jpg', :width => 150
  /     /%canvas{ :id => "search_wave", :width => "200", :height => "200"}      
  /     %p.ui-widget-header 

  / ._132.left
  /   = image_tag '/images/spinner.gif', :width => 20, :id => 'search_spinner'
     

  / .bit._133.left
  /   .content.image
  /     = image_tag '/images/weightless/1.png', :width => 150
  /     %p.ui-widget-header 

  / .bit._134
  /   .content.image
  /     = image_tag '/images/weightless/IMG_0749.jpg', :width => 200
  /     %p.ui-widget-header 



  / .bit._54
  /   .content
  /     and the parallels linking your bits
  /     will let you find things associatevely      
  /     %p.ui-widget-header 

  / .bit._92
  /   .content 
  /     Accessing one, will always show you were else it is used or referenced,
  /     in this way showing you how your ideas relate and connect.
  /     any bit or cluster can exist in many areas of this world.
  /     %canvas{ :id => "search_wave", :width => "200", :height => "200"}
  /     %p.ui-widget-header 


  




  / / .bit._56
  / /   .content 
  / /     for now though, these details are unimportant:
  / /     Just know that parallels are 
  / /     %strong not 
  / /     visual connections 
  / /     %p.ui-widget-header 


  / / .bit._56-1
  / /   .content
  / /     (as that would just make a fantastic visual mess, like)
  / /     %p.ui-widget-header 


  / / .bit._57
  / /   .content.image
  / /     %a{ :href => "/images/obama_care_chart_excerpt_large.png", :rel => "zoom-width:500px;zoom-height:350x;", :class => "MagicZoom" }
  / /       = image_tag "/images/obama_care_chart.png", :height => 140
  / /     %p.ui-widget-header 








  / .bit._93
  /   .content 
  /     discover by visual search. 
      
  /     The power of a system like this comes from central idea
  /     that whenever we create, it is almost always a combination
  /     of things that already exist, and that connections between things are important to instantly trace.
  /     %p.ui-widget-header 


  / .bit._94
  /   .content 
  /     For example, if this were my map, and I was curious:


  /     Where 

  /     %canvas{ :id => "search_wave", :width => "200", :height => "200"}



  / .bit._95
  /   .content 
  /     And the end result, a 'document' is just one moment in time, a snapshot of where you are with this idea, today. 

  / .bit._96
  /   .content 
  /     These documents are never static

  / .bit._97
  /   .content 
  /     They dont have to be linear, though you can create one



  / .bit._98
  /   .content 
  /     If you're a story, you can build a narrative, you can keep track of a 
  /     rapidly growing universe that includes characters, plot points, places and connections
     

  / .bit._99
  /   .content 
  /     If you are a filmmaker, you can combine a layout of inspiration, sound inspiration, 
  /     video inspiration, and create different configurations of this information to represent what's important, per scene
 


  / .bit._100
  /   .content 
  /     If you are a detective, this is your case file. 



  / .bit._101
  /   .content 
  /     If you are a lawyer, you can design an argument and link passages from different sources.




  / .bit._102
  /   .content 
  /     The more you use, and share your ideas as single bits
  /     clusters, the more useful it will be,
  /     not just for you, but for assembling an interconnected knowledge base,
  /     through a variety of perspectives.

  = partial("partials/footer")