/#sm2-container{ :style => 'height: 1px !important;'}
 
#center

  
  #header
    #my-menus
      = image_tag "/images/slider.png", :width => 280



  / .bit._1-00
  /   .content 
  /     %span box 1.2.3
  /     %svg{ :width => "100px", :height => "100px", "xmlns:svg" => "http://www.w3.org/2000/svg", :xmlns => "http://www.w3.org/2000/svg" }
  /       %polygon{ :x => '50', :y => '50', :width => '22', :fill => "blue", :stroke => "gray", :"stroke-width" => "2"}
  /     %p.ui-widget-header 

  .bit._1
    .content 
      hello world!
      %p.ui-widget-header 


  .bit._1-5
    .content 
      this is Parallels
      %p.ui-widget-header   


  .bit._1-6
    .content 
      a world for your ideas, where there are no borders and everything is connected
      %p.ui-widget-header   



  .bit._2
    .content 
      i'm a bit of 
      %strong text
      %p.ui-widget-header 


  .bit._3
    .content 
      i can be 
      of any size,

      small as one letter, like the letter
      %p.ui-widget-header 



  .bit._4
    .content
      Y
      %p.ui-widget-header 



  .bit._5-0
    .content 
      or as big as a 
      %p.ui-widget-header 

  .bit._5
    .content 
      word
      %p.ui-widget-header 

  .bit._6
    .content 
      i can be a phrase, 
      %p.ui-widget-header 

  .bit._7
    .content 
      a paragraph (of which I'll spare you)
      %p.ui-widget-header 


  .bit._7-2
    .content 
      a page
      %p.ui-widget-header 


  .bit._7-25
    .content 
      or even an entire book
      %p.ui-widget-header 


  .bit._7-3
    .content 
      point is, there are no rules 
      %p.ui-widget-header 


  .bit._7-4
    .content 
      i can be any size, defined only by how you use me
      %p.ui-widget-header 




  .bit._8
    .content 
      i can also be a
      %p.ui-widget-header 

  .bit._9
    .content.image
      %a{ :href => "/images/fish.jpg", :rel => "zoom-width:400px;zoom-height:400px;", :class => "MagicZoom" }
        = image_tag "/images/fish_small.jpg", :height => 140
      %p.ui-widget-header 

  .bit._10
    .content 
      No.. no.. not a fish
      %p.ui-widget-header 

  .bit._10
    .content 
      i mean i can be an 
      %strong image
      %p.ui-widget-header 





  .bit._10-1
    .content.aside

      (though you gotta admit, that fish is snazzy)



  .bit._11
    .content
      i can also be other things, like 
      a 
      %strong sound,
      %p.ui-widget-header 

  .bit._12-1
    .content
      .ui360.ui360-vis
        = link_to 'play', '#', :id => 'play_opening', :class => 'sm2_link'
      %p.ui-widget-header 




  .bit._13
    .content
      or a 
      %strong video
    
      %p.ui-widget-header 

  .bit._13-1
    .content.image
      %iframe{ :height => "220", :width => '370', :src => "http://player.vimeo.com/video/7469697?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true",  }
    
      %p.ui-widget-header 


  .bit._20
    .content 
      you can 
      %p.ui-widget-header 


  .bit._21
    .content 
      drag me
      %p.ui-widget-header 




  .bit._23.flip
    .card
      .face.front flip me
      .face.back.image
        = image_tag "/images/6795772928.gif", :height => 180
      %p.ui-widget-header 

      
  .bit._24
    .content 
      cut me
      %p.ui-widget-header 

  .bit._25
    .content.before 
      into pieces
      %p.ui-widget-header 

  .bit._28
    .content
      glue me into bigger
      %p.ui-widget-header 


  .bit._29
    .content
      ones
      %p.ui-widget-header 


  .bit._25-1
    .content 
      crop me
      %p.ui-widget-header 



  

  .bit._26
    .content.image
      = image_tag "/images/zelda.png", :width => 500, :id => 'zelda_large'
      %p.ui-widget-header 


  .bit._26-1
    .content.image
      = image_tag "/images/zelda_small.png", :id => 'zelda_cropped'
      %p.ui-widget-header 





  .bit._32
    .content 
      you can even shatter me into a zillion pieces.
      What would be the equivalent of this, 
      for a bit of text? an image? or a video?
      %p.ui-widget-header 


  .bit._32-1
    .content.image
      %iframe{ :width => "300", :height => "169", :src => "http://www.youtube.com/embed/FIPu9_OGFgc?rel=0&start=12", :frameborder => "0", :allowfullscreen => "true"  }
      %p.ui-widget-header 








  .bit._14
    .content 
      and some bits feel better as a group,
      so you can group em together into
      %strong clusters
      %p.ui-widget-header 



  .mj


    .bit._33-1
      .content.image
        = image_tag '/images/michael_jackson_thriller.jpg', :width => 200
        %p.ui-widget-header 


    .bit._34
      .content.image
        = image_tag '/images/sidney_barnes_michael_jackson.jpg', :width => 220
        %p.ui-widget-header 


    .bit._35
      .content.image
        = image_tag '/images/roxy_music.jpg', :width => 230
        %p.ui-widget-header 


    .bit._33-0
      .content
        Here's a re-enactment of one of artist Christian Marclay's 
        = link_to 'CD cover collages', 'https://www.google.com/search?q=christian+marclay+collage&hl=en&authuser=0&tbm=isch&tbo=u&source=univ&sa=X&ei=IfAzUbm3M-jC0AGK9oDoBQ&ved=0CDMQsAQ&biw=1476&bih=761'
        %p.ui-widget-header 




  .bit._16
    .content
      it's like digital
      %p.ui-widget-header 

  .bit._17
    .content.image
      = image_tag '/images/lego.png'
      %p.ui-widget-header 






  .bit._46
    .content 

      You can arrange, reorder clusters in many different ways 
      to discover patterns you didnt know exist. 

      %p.ui-widget-header 


  .weightless_topic

    .bit._56
      .content.image
        = image_tag '/images/weightless/arn.jpg', :width => 100
        %p.ui-widget-header 


    .bit._73
      .content.image
        = image_tag '/images/weightless/theplayer.jpg', :width => 100
        %p.ui-widget-header 


    .bit._57
      .content.image
        %iframe{ :width => "150", :height => "90", :src => "http://www.youtube.com/embed/CulOp0uaYic", :frameborder => "0", :allowfullscreen => "true"  }
        %p.ui-widget-header 


    .bit._55
      .content.image
        = image_tag '/images/weightless/Allegretto.jpeg', :width => 100
        %p.ui-widget-header 


    .bit._57-1
      .content.image
        %iframe{ :width => "200", :src => "http://www.youtube.com/embed/GF0-wGbRqEs", :frameborder => "0", :allowfullscreen => "true"  }
        %p.ui-widget-header 


    .bit._13-11
      .content.image
        %iframe{ :width => "160", :height => "95", :src => "http://player.vimeo.com/video/7469697?byline=0&amp;portrait=0&amp;color=ffffff&amp;loop=1", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true", :allowFullScreen => "true" }

        %p.ui-widget-header 


    .bit._68
      .content.image
        %iframe{ :width => "160", :height => "95", :src => "http://player.vimeo.com/video/6284199?byline=0&amp;portrait=0&amp;color=ffffff&amp;loop=1", :frameborder => "0", :allowfullscreen => "true" , :webkitAllowFullScreen => "true",  :mozallowfullscreen => "true", :allowFullScreen => "true" }
        %p.ui-widget-header 

    .bit._68-1
      .content.image
        = image_tag '/images/weightless/boccioni.png'
        %p.ui-widget-header 

    .bit._60
      .content.image
        = image_tag '/images/weightless/Fetal_Position_by_Pixel_Sage.jpeg', :width => 100
        %p.ui-widget-header 

    .bit._51
      .content.image
        = image_tag '/images/weightless/095_1.jpeg', :width => 100

        %p.ui-widget-header 

    .bit._67
      .content.image
        = image_tag '/images/weightless/1.png', :width => 100
        %p.ui-widget-header 


    .bit._58
      .content.image
        = image_tag '/images/weightless/d695fcef4f9ed591889df0831538c2f51ccb0a63_m.jpg', :width => 100
        %p.ui-widget-header 

    .bit._61
      .content.image
        = image_tag '/images/weightless/fix_002b.jpeg', :width => 100
        %p.ui-widget-header 

    .bit._65
      .content.image
        = image_tag '/images/weightless/Regal_Incidence_76x58_op_769x569.jpg', :width => 100
        %p.ui-widget-header 

    .bit._63
      .content.image
        = image_tag '/images/weightless/kemurit.jpg', :width => 100
        %p.ui-widget-header 


    .bit._63-1
      .content.image
        = image_tag '/images/weightless/007.jpg', :width => 100
        %p.ui-widget-header 



    .bit._62
      .content.image
        = image_tag '/images/weightless/hood.jpg', :width => 140
        %p.ui-widget-header 


    .bit._66
      .content.image
        = image_tag '/images/weightless/rocketeer.gif', :width => 200
        %p.ui-widget-header 

    .bit._59
      .content.image
        = image_tag '/images/weightless/es-omhulsel-escher.jpg', :width => 100
        %p.ui-widget-header 



    .bit._74
      .content.image
        = image_tag '/images/weightless/waves-2.jpeg', :width => 100

        %p.ui-widget-header 




    .bit._64
      .content.image
        = image_tag '/images/weightless/randi.jpeg', :width => 130
        %p.ui-widget-header 



    .bit._54
      .content.image
        = image_tag '/images/weightless/Abstractobv.jpeg', :width => 170
        %p.ui-widget-header 


    .bit._77
      .content.image
        = image_tag '/images/weightless/Spiral_dive_with_instruction_diagram.jpeg', :width => 140
        %p.ui-widget-header 

    .bit._78
      .content.image
        = image_tag '/images/weightless/IMG_0749.jpg', :width => 140
        %p.ui-widget-header 




    .bit._71
      .content.image
        = image_tag '/images/weightless/5.png', :width => 100
        %p.ui-widget-header 

    .bit._79
      .content.image
        = image_tag '/images/weightless/IMG_0528.jpg', :width => 170
        %p.ui-widget-header 









  .bit._80
    .content 
      What are ways you could reorder or rearrange this cluster, in the way these dots are reconfigured?

      %p.ui-widget-header 



  .bit._81
    .content.image
      %iframe{ :width => "400", :height => "225", :src => "http://www.youtube.com/embed/ReB-RgRSKWM?rel=0", :frameborder => "0", :allowfullscreen => "true"  }

      %p.ui-widget-header 







  .bit._47
    .content 
      images by color
      %p.ui-widget-header 


  .bit._48
    .content 
      images by time
      %p.ui-widget-header     


  .bit._49
    .content 
      sometimes the best ideas and connections happen by accident.
      Randomize 
      %p.ui-widget-header     








  .bit._36
    .content 
      As you can imagine, things can get hectic quickly.

      %p.ui-widget-header 


  .bit._36-1
    .content 
      To manage this, a few key features are:
      %p.ui-widget-header 

      

  .bit._36-2
    .content 
      you scan always undo anything, like this
      %p.ui-widget-header 

      

       

  .bit._37-1
    .content.image
      %iframe{ :width => "300", :height => "250", :src => "http://www.youtube.com/embed/wmbuW7EZGoM?rel=0&&start=67", :frameborder => "0", :allowfullscreen => "true"  }

      %p.ui-widget-header 


  .bit._37
    .content 
      what if you could not only move backward, but also forward in time?

      %p.ui-widget-header 


  .bit._37-3
    .content 
      You can see the evolution of a cluster
      %p.ui-widget-header 




  .bit._81-4
    .content.image
      %iframe{ :width => "400", :height => "300", :src => "http://www.youtube.com/embed/xiWpZ5jhvx4?rel=0", :frameborder => "0", :allowfullscreen => "true"  }

      %p.ui-widget-header 






  .bit._38
    .content 
      thank this guy for that idea

      %p.ui-widget-header 


  .bit._38-1
    .content.image
      = image_tag '/images/1878_Darwin_photo_by_Leonard_from_Woodall_1884.jpg', :width => 300

      %p.ui-widget-header 


  .bit._38-6
    .content.aside
      charles darwin, in case ya didn't know

      %p.ui-widget-header 











  .bit._50
    .content 
      with such a large world, you can find stuff in many easy ways
      %p.ui-widget-header 



  .bit._51
    .content 
      discover by visual search. 
      draw a shape, and see what matches
      %p.ui-widget-header 




  .bit._91
    .content 
      %canvas{ :id => "search_wave", :width => "200", :height => "200"}
      %p.ui-widget-header 



  





  .bit._52
    .content 
      So, with all of these, what could you use this for?
      %p.ui-widget-header 





  / .bit._53
  /   .content 
  /     To keep lists.

  / .bit._54
  /   .content 
  /     Organize ideas that don't fit on a page, connect them and see references easily



  / .bit._55
  /   .content 
  /     Build a story with many characters, plot points 
  /     [Writer]

  / .bit._56
  /   .content 
  /     Lay out a case for an argument
  /     [Law]




  / .bit._57
  /   .content 
  /     Write a story
  /     [Law]



  / .bit._58
  /   .content 
  /     Send and receive bits and clusters



  / .bit._59
  /   .content 
  /     I can be in more than one place, at once!


  /     Didn't you ever have a "thing that shall not be named" [file]
  /     that needed to live in 2 places in the world, 


  /     instead 
  /     of one [folder]... backspace and delete



  / .bit._101
  /   .content 
  /     THE MORE YOU USE, the better it gets 
  /     snowball curve


  = partial("partials/footer")