
.bit._1
	.content 
		hello world!
		%p.ui-widget-header 

.bit._2
	.content 
		i'm a bit. 
		%p.ui-widget-header 

.bit._3
	.content 
		i can be a piece of
		%strong text 
		of any size, small as a fancy letter
		%p.ui-widget-header 

.bit._4
	.content
		A
		%p.ui-widget-header 

.bit._5
	.content 
		word
		%p.ui-widget-header 

.bit._6
	.content 
		or a phrase, 
		%p.ui-widget-header 

.bit._7
	.content 
		or a whole paragraph (which I will spare you of reading, cause you know what they say
		%p.ui-widget-header 

.bit._7-1
	.content 
		= link_to 'tl;dr', "http://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn't_read", :target => '_blank'
		%p.ui-widget-header 

.bit._8
	.content 
		i can also be a
		%p.ui-widget-header 

.bit._9
	.content
		%a{ :href => "/images/fish.jpg", :rel => "zoom-width:400px;zoom-height:400px;", :class => "MagicZoom" }
			= image_tag "/images/fish_small.jpg", :height => 140
		%p.ui-widget-header 

.bit._10
	.content 
		No.. no.. not a fish.
		%p.ui-widget-header 

.bit._10-1
	.content 
		(gotta say tho, sushi's faaannttassttic)
		%p.ui-widget-header 

.bit._10-2
	.content
		= image_tag '/images/mark-wahlberg-shocked-gif.gif', :height => 200 
		%p.ui-widget-header 

.bit._10-5
	.content 
		what???! c'mon, don't hate!		
		%p.ui-widget-header 

.bit._10-6
	.content 
		or get all flaky on me now
		%p.ui-widget-header 

.bit._11
	.content
		anyway, i can be all sorts of things, an
		%strong image,
		%p.ui-widget-header 

.bit._12
	.content
		a 
		%strong sound,
		%p.ui-widget-header 

.bit._13
	.content
		a 
		%strong video
		%p.ui-widget-header 

.bit._14
	.content 
		The point is, you can mix
		%strong bits
		of any type easily
		%p.ui-widget-header 

.bit._15
	.content
		to make bigger things
		%p.ui-widget-header 

.bit._16
	.content
		It's like digital
		%p.ui-widget-header 

.bit._17
	.content
		= image_tag '/images/lego.png'
		%p.ui-widget-header 


= partial("partials/footer") 