= form_for @cluster do |f|
  - if @cluster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cluster.errors.count, "error")} prohibited this cluster from being saved:"
      %ul
        - @cluster.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :position_x
    = f.number_field :position_x
  .field
    = f.label :position_y
    = f.number_field :position_y
  .actions
    = f.submit 'Save'
