%h1 Listing clusters

%table
  %tr
    %th Position x
    %th Position y
    %th
    %th
    %th

  - @clusters.each do |cluster|
    %tr
      %td= cluster.position_x
      %td= cluster.position_y
      %td= link_to 'Show', cluster
      %td= link_to 'Edit', edit_cluster_path(cluster)
      %td= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cluster', new_cluster_path
