= form_for @bit, remote: true do |f|

  .field
    = f.text_area :content, :rows => 2, :col => 2

  
  .actions
    = f.hidden_field :position_x
    = f.hidden_field :position_y
    = f.submit 'Save'


