.bit{ :id => "_#{ bit.id}", :style => "left: #{ bit.location_x}px; top: #{ bit.location_y}px;" } 
  .content 

    .face.front
      = bit.content
      
    .face.back
      %p
        %b x: y: = bit.type
        = "#{ bit.location_x } : #{ bit.location_y} "

      - if bit.image.present?
        %p= image_tag bit.image

      = link_to 'Edit', edit_bit_path(bit)

    %p.ui-widget-header
