-# TODO: refactor CSS assignment out of view

= content_tag_for(:div, @bit, { :class => @bit.type.downcase,  :style => "left: #{ @bit.position_x}px; top: #{ @bit.position_y}px;", :"data-bit-id" => @bit.id} ) do 
  .container 

    .face.front
      .content
        - if @bit.image.present?
          %a{ :href => @bit.image_url(:full), :class => "MagicZoom" }
            = image_tag @bit.image_url(:thumb)

        - else
          = @bit.content

    .face.back
      .content
        = link_to 'Edit', edit_bit_path(@bit), :remote => true, :class => 'edit_bit'
        

    %p.ui-widget-header
