-# TODO: refactor CSS assignment out of view
= content_tag_for(:div, @bit, { :style => "left: #{ @bit.location_x}px; top: #{ @bit.location_y}px;", :"data-bit-id" => @bit.id } ) do
  .content 

    .face.front
      = @bit.content
      
    .face.back
      %p
        = @bit.type
        
      - if @bit.image.present?
        %p= image_tag @bit.image

      = link_to 'Edit', edit_bit_path(@bit)

    %p.ui-widget-header
