<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'>
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "New Project" %></title>

    <%= stylesheet_link_tag "site", "demo", "magiczoom", "360/360player", "360/360player-visualization", "360/flashblock"  %>


    <%= javascript_include_tag  'jquery-1.8.2.min', 'jquery-ui-1.10.1.custom.min' , 'jquery.simplemodal.1.4.2.min', 'bootstrap.min', 'modernizr', 'd3.v3.min',  'magiczoom.cstreams.registered', 'mousetrap.min', 'berniecode-animator', 'soundmanager2-nodebug-jsmin',  '360player', 'app' %>

    <!-- special IE-only canvas fix -->
    <!--[if IE]><script type="text/javascript" src="script/excanvas.js"></script><![endif]-->


  </head>


  <body class="<%= page_classes %>">

    <%= yield %>
  </body>
</html>
